*{
  margin: 0;
  
}
body{
  margin: 0;
  font-family: "poppins";
}

button , input {
  font-family: "poppins" , sans-serif;
}

a{
  text-decoration: none;
}

.main{
  display: flex;
  flex-direction: column;
}