.productdisplay-main {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 90%;
  margin: 0px auto;
}
.productdisplay {
  display: flex;
}

.productdisplay-left {
  display: flex;
  gap: 17px;
}

.productdisplay-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productdisplay-img-list img {
  height: 153px;
}

.productdisplay-main-img {
  width: 486px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  background: rgba(243, 240, 240, 0.493);
  border-radius: 5px;
}

.productdisplay-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}

.productdisplay-right h1 {
  color: #3d3d3d;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.productdisplay-right-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}

.productdisplay-right-prices {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}

.productdisplay-right-prices-old {
  color: #818181;
  text-decoration: line-through;
}

.productdisplay-right-prices-new {
  color: #ff4141;
}

.productdisplay-right-size h1 {
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}

.productdisplay-right-sizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}

.productdisplay-right-sizes button {
  padding: 18px 24px;
  background: #fbfbfb;
  /* border: 1px solid #ebebeb; */
  border-radius: 3px;
  cursor: pointer;
}

.add-to-cart {
  padding: 20px 40px;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* .sizeActive{
    border-color:black !important;

} */

.feedback {
  display: flex;
  width: 100%;
}

.user-feedbacks {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial, sans-serif";
}

.user-feedbacks h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.feedback-list {
  list-style: none;
  padding: 0;
}

.feedback-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.feedback-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.feedback-item:nth-child(even) {
  background-color: #f1f1f1;
}

.feedback-user {
  margin-bottom: 5px;
  font-size: 1.1em;
  color: #333;
}

.feedback-rating,
.feedback-comment {
  margin-bottom: 10px;
}

.feedback-rating strong,
.feedback-comment strong {
  color: #555;
}

.feedback-rating {
  font-size: 1.2em;
  color: #f39c12;
}

.feedback-comment {
  font-size: 1em;
  color: #444;
}
