.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 99;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav-logo p {
  color: #171717;
  font-size: 20px;
  font-weight: 600;
}

.nav-logo img {
  width: 40px;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  color: #626262;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.nav-menu li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #ff4141;
}

.nav-menu li:hover::after {
  width: 100%;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.navActive::after {
  width: 100% !important;
  transition: all 0.5s ease;
}

/* .nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
} */

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 157px;
  /* height: 58px; */
  padding: 10px 20px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 16px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:hover {
  background: #ff4141;
  transition: all 0.3s ease;
  border: 1px solid white;
  color: white;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-login-cart img {
  width: 30px;
  height: auto;
}

.nav-cart-count {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 10px;
  font-weight: 600;
  background: red;
  color: white;
}
