.hero{
    height: 100vh;
    background:rgb(240, 213, 217);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    

}

.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}

.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;

}

.hero-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}
.hero-image{
    width: 800px;
    align-self: center;  
}